*,
.apexcharts-legend-text {
  font-family: "Outfit", sans-serif !important;
  font-weight: 500 !important;
}
body .apexcharts-legend-text {
  font-size: 18px !important;
}
@media (max-width: 768px) {
  body .apexcharts-legend-text {
    font-size: 14px !important;
  }
}
body .apexcharts-legend-series {
  display: flex;
  align-items: center;
}
.apexcharts-legend-text {
  font-size: 18px !important;
}
@media (max-width: 768px) {
  .apexcharts-legend-text {
    font-size: 14px !important;
  }
}
.apexcharts-legend-series {
  display: flex;
  align-items: center;
}
.chart-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.apexcharts-legend-marker {
  min-width: 62px;
  min-height: 13px;
  margin-right: 8px !important;
}
.apexcharts-pie-area {
  filter: none !important;
}
.apexcharts-legend {
  height: 100%;
  justify-content: center !important;
  top: 0 !important;
}
.apexcharts-datalabels-group text {
  font-size: 25px;
  color: #1f1f1f;
  font-family: "Outfit", sans-serif !important;
}
@media (max-width: 768px) {
  .apexcharts-datalabels-group text {
    font-size: 18px !important;
    line-height: -10px;
  }
}
.chart-column {
  padding: 50px 30px 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3.9729397296905518px 29.797048568725586px 0px
    rgba(0, 0, 0, 0.09);
  margin: 70px 60px;
}
@media (max-width: 768px) {
  .chart-column {
    padding: 0;
    margin: 0 20px;
    width: 100%;
  }
}
.chart-column select {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 16 11' fill='none'%3E%3Cpath d='M2.25742 0.788818L8.18822 6.95483L14.119 0.788818L15.9409 2.69639L8.18822 10.7565L0.435547 2.69639L2.25742 0.788818Z' fill='%23363D51'/%3E%3C/svg%3E")
    no-repeat 90% center;
  z-index: 9999;
  border-radius: 11px;
  border: 2px solid rgba(54, 61, 81, 0.1);
  margin: 0 0 -45px auto;
  display: block;
  padding: 10px 80px 10px 11px;
  background-color: #f2f2ff;
  color: #000;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
@media (max-width: 768px) {
  .chart-column select {
    margin: 0 0 -45px auto;
      padding: 5px 50px 5px 8px;
  }
}
@media (max-width: 768px) {
  .chart-column .select-mobile {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    
  }
}
.chart-column .toolbar {
  margin: 0 0 -35px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 34px;
  position: relative;
  z-index: 99999;
}
.chart-column .toolbar button.active {
  color: #2a3154;
}
.chart-column .toolbar button {
  border: none;
  background: transparent;
  color: #2a3154;
  font-family: "Outfit", sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  z-index: 99999;
}
